<div class="events" id="event">
    <center>
        <p>EVENTS</p>
    </center>
    <center>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for event in events %}
                <div class="swiper-slide">
                    <div class="card">
                        <img src="{{ event.image.url }}" alt="{{ event.title }}">
                        <div class="des">
                            <h4>{{ event.title }}</h4>
                            <p>Date: {{ event.date }}</p>
                            <p>Description: {{ event.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </center>
</div>
