<div class="events" id="event">
    <center>
        <h1 style="color: black; font-size: 3vw;">EVENTS</h1>
    </center>
    <center>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for event in events %}
                <div class="swiper-slide">
                    <a href="{% url 'core:eventspage' event.id %}">
                        <div class="card">
                            {% if event.image %}
                            <img src="{{ event.image.url }}">
                        {% elif event.image_url %}
                            <img src="{{ event.image_url }}">
                        {% endif %}                            <div class="des">
                                <h4>{{ event.title }}</h4>
                                <p>Date: {{ event.start_date }} - {{ event.end_date}}</p>
                                <p>Description: {{ event.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </center>
</div>
