<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="contact-content text-center">
                    <center><h1 href="#">IEEE VIIT</h1></center>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p>
                    <div class="hr"></div>
                    <center>
                    <h6>1120 Lorem ipsum dolor sit amet, KC 179050, Chandigarh.</h6>
                    <h6>+01 2345 6789 12<span>|</span>+01 2345 6789 12</h6>
                    <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href=""><i class="bi bi-facebook"></i></a></li>
                            <li><a class="hover-target" href=""><i class="bi bi-github"></i></a></li>
                            <li><a class="hover-target" href=""><i class="bi bi-instagram"></i></a></li>
                            <li><a class="hover-target" href=""><i class="bi bi-medium"></i></a></li>
                        </ul>
                    </div>
                </center>Oct 06, 2023 - Oct 05, 2023


                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
    <p>Copyright &copy; 2019 EVENT NAME All Rights Reserved.</p>
</footer>
